<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>加入好司机</title>
		
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<script type="text/javascript">
			/*(function(doc, win) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						if(clientWidth >= 750) {
							docEl.style.fontSize = '40px';
						} else {
							docEl.style.fontSize = 40 * (clientWidth / 750) + 'px';
						}
					};
				if(!doc.addEventListener) return;
				recalc();
				win.addEventListener(resizeEvt, recalc, false);
				//	doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);*/
		</script>
	</head>
	<style type="text/css">
		.zz {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			position: fixed;
			top: 0;
			left: 0;
			z-index: 2010;
		}
		
		.load_img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto auto;
			width: 3.82rem;
			height: 2.45rem;
			z-index: 20000;
		}
	</style>

	<body>
		<!--<img src="assets/images/loading.gif" alt="" class="load_img" />-->
		<div id="app"></div>

	</body>
	<script type="text/javascript">
		/*function formatSearch(href) {
			var se=href.substr(href.indexOf("?"))
			if(typeof se !== "undefined") {
				se = se.substr(1);
				var arr = se.split("&"),
					obj = {},
					newarr = [];
				$.each(arr, function(i, v) {
					newarr = v.split("=");
					if(typeof obj[newarr[0]] === "undefined") {
						obj[newarr[0]] = newarr[1];
					}
				});
				for(var key in obj) {
					obj[key] = decodeURI(obj[key]);
				}
				return obj
			};
		}
		
		if(location.href.indexOf("test2-iicp-dmzstg") > 0) {
			var pingan_sdk_appid = "5E0727A769D141AAA4703C018678B6C9";
		} else {
			var pingan_sdk_appid = "023F6BFF3133460A9881A06E7AC45807";
		}
//		var pingan_sdk_appid = "023F6BFF3133460A9881A06E7AC45807";
		var pingan_sdk_vn = formatSearch(location.href).version;
		var pingan_sdk_vc = formatSearch(location.href).version;
		console.log(pingan_sdk_vn)*/
	</script>
	<!--<script type="text/javascript" src="lib/h5Sdk.js"></script>-->
	<!--<script type="text/javascript" src="assets/js/common/h5Sdk.js"></script>-->

</html>